# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# PyInstaller 打包产物
build/
dist/

# 虚拟环境
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
.trae/
.trae/rules/
git-commit-message.md

# 系统文件
Thumbs.db
.DS_Store
desktop.ini